body {
    margin: 0;
    font-family: sans-serif;
}

.container {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url(/img/image2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}
.main{
    height: 65vh;
    width: 35vw;
    border-radius: 0.5rem;
    background:transparent;
    backdrop-filter: blur(15px);
    box-shadow: rgba(255, 255, 255,0.2) 1px 1px 1px 0px;
    color: white;

}
.main h2{
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 9vh;
    gap: 25px;
}
input{
    outline: none;
    width: 70%;
    padding: 15px;
    margin: 0 auto;
    color: rgba(255, 255, 255,0.8);
    border:1px solid rgb(255, 255, 255);
    border-radius: 0.4rem;
    background: transparent;
    box-sizing: border-box;
}
input::placeholder{
    color: rgba(255, 255, 255,0.8);
}
button{
    padding: 12px 25px;
    border-radius: 0.2rem;
    border: 0;
    margin: 0 auto;
    color: white;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    transition: 0.2;
}
@media screen and (max-width: 700px) {
    .main{
        width: 65vw;
    }
    input{
        padding: 11px;
    }
    button{
        padding: 7px 15px;
    }


}
